package config

import (
	"database/sql"
	"sync"

	_ "github.com/go-sql-driver/mysql"
	"github.com/spf13/viper"

	pkgLog "{{.ModulePath}}/internal/log"
	pkgLogger "{{.ModulePath}}/pkg/log"
)

var (
	db     *sql.DB
	dbOnce sync.Once
)

func DB() *sql.DB {
    var (
        dbName = viper.GetString("db.database")
        password = viper.GetString("db.password")
        username = viper.GetString("db.username")
        port = viper.GetString("db.port")
        host = viper.GetString("db.host")
    )

	dbOnce.Do(func() {
		var err error
		if db, err = sql.Open("mysql", fmt.Sprintf("%s:%s@tcp(%s:%s)/%s", username, password, host, port, dbName)); err != nil {
			panic(err)
		}
	})

	return db
}

func CloseDB() {
	var err error
	if err = db.Close(); err != nil {
		pkgLog.Log().Error("sql db close error", pkgLogger.Field{Key: "err", Value: err})
	}
}
