package config

import (
	"database/sql"
	"sync"

	_ "github.com/mattn/go-sqlite3"

	pkgLog "{{.ModulePath}}/internal/log"
	pkgLogger "{{.ModulePath}}/pkg/log"
)

var (
	dns    string
	db     *sql.DB
	dbOnce sync.Once
)

func DB() *sql.DB {
	dbOnce.Do(func() {
		var err error
		if db, err = sql.Open("sqlite3", dns); err != nil {
			panic(err)
		}
	})

	return db
}

func CloseDB() {
	if err := db.Close(); err != nil {
		pkgLog.Log().Error("sql db close error", pkgLogger.Field{Key: "err", Value: err})
	}
}
