package config

import (
	"context"
	{{ if eq .DB "mysql" }}"fmt" {{ else if eq .DB "postgresql" }}"fmt" {{ end }}
	"io"
	"log"
	"os"
	"sync"
	"time"

	"github.com/spf13/viper"
    {{ if eq .DB "mysql" }}"gorm.io/driver/mysql" {{else if eq .DB "postgresql" }}"gorm.io/driver/postgres"{{ else if eq .DB "sqlite" }}"gorm.io/driver/sqlite"{{ end }}
	"gorm.io/gorm"
	"gorm.io/gorm/logger"
	"gorm.io/gorm/schema"

	pkgLog "{{.ModulePath}}/internal/log"
	pkgLogger "{{.ModulePath}}/pkg/log"
)

const (
    defaultSQLLogFilePath = "./logs/sql.log"
)

var (
	db     *gorm.DB
	dbOnce sync.Once
)
{{ if eq .DB "mysql" }}
func getGormDialector() gorm.Dialector {
	return mysql.New(mysql.Config{
		DSN: fmt.Sprintf("%s:%s@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=Local",
            viper.GetString("db.username"),
            viper.GetString("db.password"),
            viper.GetString("db.host"),
            viper.GetInt("db.port"),
            viper.GetString("db.database"),
        ),
	})
}
{{ else if eq .DB "postgres" }}
func getGormDialector() gorm.Dialector {
	return postgres.Open(fmt.Sprintf("host=%s user=%s password=%s dbname=%s port=%s sslmode=disable",
		viper.GetString("postgres.host"),
		viper.GetString("postgres.user"),
		viper.GetString("postgres.password"),
		viper.GetString("postgres.dbname"),
		viper.GetString("postgres.port"),
	))
}
{{ else if eq .DB "sqlite" }}
func getGormDialector() gorm.Dialector {
    return sqlite.Open(viper.GetString("sqlite.incu.dsn"))
}
{{ else }}
func getGormDialector() gorm.Dialector {
    panic("unknown db")
}
{{ end }}
func DB(ctx context.Context) *gorm.DB {
	dbOnce.Do(func() {
		var err error
		if db, err = gorm.Open(getGormDialector(), &gorm.Config{
			Logger:      getGormLogger(),
			PrepareStmt: true,
			NamingStrategy: schema.NamingStrategy{
				SingularTable: true,
			},
		}); err != nil {
			panic(err)
		}
	})
	return db.WithContext(ctx)
}

func getGormLogger() logger.Interface {
	ignoreRecordNotFound := false
	logLevel := logger.Info
	if !viper.GetBool("debug") {
		ignoreRecordNotFound = true
		logLevel = logger.Error
	}
	logFile, err := os.OpenFile(defaultSQLLogFilePath, os.O_APPEND|os.O_CREATE|os.O_WRONLY, 0644)
	if err != nil {
		panic(err)
	}
	multiOutput := io.MultiWriter(os.Stdout, logFile)
	return logger.New(
		log.New(multiOutput, "[DB] ", log.LstdFlags),
		logger.Config{
			SlowThreshold:             time.Second,
			LogLevel:                  logLevel,
			IgnoreRecordNotFoundError: ignoreRecordNotFound,
			Colorful:                  false,
		},
	)
}

func CloseDB() {
	sqlDB, err := db.DB()
	if err != nil {
		pkgLog.Log().Error("get sql db error", pkgLogger.Field{Key: "err", Value: err})
	}
	if err = sqlDB.Close(); err != nil {
		pkgLog.Log().Error("sql db close error", pkgLogger.Field{Key: "err", Value: err})
	}
}
