APP_SERVER_PORT=":8080"
{{ if eq .DB "MySQL" }}
APP_DB_HOST=localhost
APP_DB_PORT=3306
APP_DB_DATABASE=go_boilder
APP_DB_USERNAME=root
APP_DB_PASSWORD=password1234
{{ else if eq .DB "PostgreSQL" }}
APP_DB_HOST=localhost
APP_DB_PORT=5432
APP_DB_DATABASE=go_boilder
APP_DB_USERNAME=postgres
APP_DB_PASSWORD=password1234
APP_DB_SCHEMA=public
{{ else if eq .DB "MongoDB" }}
APP_DB_URI=mongodb://localhost:27017
APP_DB_DATABASE=go_boilder
APP_DB_USERNAME=liooooo
APP_DB_PASSWORD=password1234
{{ else if eq .DB "SQLite" }}
APP_DB_URL=file::memory:?cache=shared
{{ end }}